<a href="https://colab.research.google.com/github/bhanu080/bhanu080/blob/main/Exercise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
#1. Write a program to take three names as input from a user in the single input() function call. 
a, b, c = input("Enter three Names: ").split()

Enter three Names: krithi Abhijna Ahana

In [47]:
#2. Write a program to print the following number pattern using a loop. 

#	1  

#	1 2 

#	1 2 3 

 #	1 2 3 4 

# 1 2 3 4 5 

n = int(input("Enter number of rows: "))

for i in range(1,n+1):
    for j in range(1, i+1):
        print(j, end=" ")
    print( )

Enter number of rows: 6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [71]:
# 3. Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number
n = int(input("Enter number:"))
sum = 0
for num in range(1, n + 1, 1):
    sum = sum + num
print("Sum of numbers is: ", sum)

Enter number:5
Sum of numbers is:  15

In [72]:
# 4. Print list in reverse order using a loop
l= [1,23,45,65,4,7,9]
i = len(l) - 1
while i > 0:
  print(l[i])
  i-=1

9
7
4
65
45
23

In [73]:
# 5. Write a program to display all prime numbers within a range
n=int(input("Enter upper limit: "))
for i in range(2,n+1):
    k=0
    for j in range(2,i//2+1):
        if(i%j==0):
            k=k+1
    if(k<=0):
        print(i)

Enter upper limit: 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [74]:
# 6. Find the factorial of a given number without math module

n = 3
fact = 1
if n < 0:
   print(" factorial does not exist for negative numbers")
elif n == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,n+1):
       fact = fact*i
   print("The factorial of",n,"is",fact)

The factorial of 3 is 6

In [65]:
# 7. Print the following pattern 

#	* 

#	* *  

#	* * * 

#	* * * * * 

#	* * * * 

#	* * * 

#	* * 

#	* 



n= int(input("Enter the number of Rows = "))

for i in range(n):
  for j in range(0, i + 1): 
    print('*', end= '')

  print( )
for i in range(1, n):
  for j in range(i, n):
    print('*', end = '')

  print()

Enter the number of Rows = 5
*
**
***
****
*****
****
***
**
*